#### Import the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Read the dataset

In [3]:
df = pd.read_csv('vehicle_data.csv')
df.head()

,origin,cylinders,displacement,horsepower,weight,acceleration,year,name,Kilometer_per_liter
0,1,8,307.0,130,3504,12.0,1970,chevrolet chevelle malibu,7.652587
1,1,8,350.0,165,3693,11.5,1970,buick skylark 320,6.377156
2,1,8,318.0,150,3436,11.0,1970,plymouth satellite,7.652587
3,1,8,304.0,150,3433,12.0,1970,amc rebel sst,6.802299
4,1,8,302.0,140,3449,10.5,1970,ford torino,7.227443

In [5]:
df.shape
# rows = 398,cols=9

(398, 9)

### Data Preprocessing

#### 1) Handling Null Values

In [6]:
def count_per_null(data):
    nv = data.isnull().sum()
    nv = nv[nv>0]
    nv_df = pd.DataFrame({'Features':nv.index,'Count_Null':nv.values,
                         'Per_Null': (nv.values/data.shape[0])*100})
    nv_df = nv_df.sort_values('Per_Null',ascending=False)
    return nv_df

In [7]:
res = count_per_null(df)
res

Empty DataFrame
Columns: [Features, Count_Null, Per_Null]
Index: []

#### 2) Handling duplicates

In [8]:
df.duplicated().sum()

0

#### 3) Check data types

In [9]:
df.dtypes

origin                   int64
cylinders                int64
displacement           float64
horsepower              object
weight                   int64
acceleration           float64
year                     int64
name                    object
Kilometer_per_liter    float64
dtype: object

In [10]:
# df['horsepower'] = pd.to_numeric(df['horsepower'])

df['horsepower'] = df['horsepower'].astype(int)

ValueError: invalid literal for int() with base 10: '?'

In [11]:
df['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [12]:
df[df['horsepower']=='?'].shape

(6, 9)

In [14]:
df = df[df['horsepower']!='?']
df.shape

(392, 9)

In [16]:
df['horsepower'] = df['horsepower'].astype(int)
df.dtypes

origin                   int64
cylinders                int64
displacement           float64
horsepower               int32
weight                   int64
acceleration           float64
year                     int64
name                    object
Kilometer_per_liter    float64
dtype: object

In [17]:
print(df['name'].nunique())

301

In [19]:
301/392

0.7678571428571429

In [69]:
df['name'].unique()

array(['chevrolet chevelle malibu', 'buick skylark 320',
       'plymouth satellite', 'amc rebel sst', 'ford torino',
       'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii',
       'pontiac catalina', 'amc ambassador dpl', 'dodge challenger se',
       "plymouth 'cuda 340", 'chevrolet monte carlo',
       'buick estate wagon (sw)', 'toyota corona mark ii',
       'plymouth duster', 'amc hornet', 'ford maverick', 'datsun pl510',
       'volkswagen 1131 deluxe sedan', 'peugeot 504', 'audi 100 ls',
       'saab 99e', 'bmw 2002', 'amc gremlin', 'ford f250', 'chevy c20',
       'dodge d200', 'hi 1200d', 'chevrolet vega 2300', 'toyota corona',
       'plymouth satellite custom', 'ford torino 500', 'amc matador',
       'pontiac catalina brougham', 'dodge monaco (sw)',
       'ford country squire (sw)', 'pontiac safari (sw)',
       'amc hornet sportabout (sw)', 'chevrolet vega (sw)',
       'pontiac firebird', 'ford mustang', 'mercury capri 2000',
       'opel 1900', 'peugeot 304', 'fiat 124b', 'toyota corolla 1200',
       'datsun 1200', 'volkswagen model 111', 'plymouth cricket',
       'toyota corona hardtop', 'dodge colt hardtop', 'volkswagen type 3',
       'chevrolet vega', 'ford pinto runabout', 'amc ambassador sst',
       'mercury marquis', 'buick lesabre custom',
       'oldsmobile delta 88 royale', 'chrysler newport royal',
       'mazda rx2 coupe', 'amc matador (sw)',
       'chevrolet chevelle concours (sw)', 'ford gran torino (sw)',
       'plymouth satellite custom (sw)', 'volvo 145e (sw)',
       'volkswagen 411 (sw)', 'peugeot 504 (sw)', 'renault 12 (sw)',
       'ford pinto (sw)', 'datsun 510 (sw)',
       'toyouta corona mark ii (sw)', 'dodge colt (sw)',
       'toyota corolla 1600 (sw)', 'buick century 350',
       'chevrolet malibu', 'ford gran torino', 'dodge coronet custom',
       'mercury marquis brougham', 'chevrolet caprice classic',
       'ford ltd', 'plymouth fury gran sedan',
       'chrysler new yorker brougham', 'buick electra 225 custom',
       'amc ambassador brougham', 'plymouth valiant',
       'chevrolet nova custom', 'volkswagen super beetle', 'ford country',
       'plymouth custom suburb', 'oldsmobile vista cruiser',
       'toyota carina', 'datsun 610', 'maxda rx3', 'ford pinto',
       'mercury capri v6', 'fiat 124 sport coupe',
       'chevrolet monte carlo s', 'pontiac grand prix', 'fiat 128',
       'opel manta', 'audi 100ls', 'volvo 144ea', 'dodge dart custom',
       'saab 99le', 'toyota mark ii', 'oldsmobile omega',
       'chevrolet nova', 'datsun b210',
       'chevrolet chevelle malibu classic', 'plymouth satellite sebring',
       'buick century luxus (sw)', 'dodge coronet custom (sw)',
       'audi fox', 'volkswagen dasher', 'datsun 710', 'dodge colt',
       'fiat 124 tc', 'honda civic', 'subaru', 'fiat x1.9',
       'plymouth valiant custom', 'mercury monarch', 'chevrolet bel air',
       'plymouth grand fury', 'buick century',
       'chevroelt chevelle malibu', 'plymouth fury', 'buick skyhawk',
       'chevrolet monza 2+2', 'ford mustang ii', 'toyota corolla',
       'pontiac astro', 'volkswagen rabbit', 'amc pacer', 'volvo 244dl',
       'honda civic cvcc', 'fiat 131', 'capri ii', 'renault 12tl',
       'dodge coronet brougham', 'chevrolet chevette', 'chevrolet woody',
       'vw rabbit', 'dodge aspen se', 'ford granada ghia',
       'pontiac ventura sj', 'amc pacer d/l', 'datsun b-210', 'volvo 245',
       'plymouth volare premier v8', 'mercedes-benz 280s',
       'cadillac seville', 'chevy c10', 'ford f108', 'dodge d100',
       'honda accord cvcc', 'buick opel isuzu deluxe', 'renault 5 gtl',
       'plymouth arrow gs', 'datsun f-10 hatchback',
       'oldsmobile cutlass supreme', 'dodge monaco brougham',
       'mercury cougar brougham', 'chevrolet concours', 'buick skylark',
       'plymouth volare custom', 'ford granada', 'pontiac grand prix lj',
       'chevrolet monte carlo landau', 'chrysler cordoba',
       'ford thunderbird', 'volkswagen rabbit custom',
       'pontiac sunbird coupe', 'toyota corolla liftback',
       'ford mustang ii 2+2', 'dodge colt m/m', 'subaru dl', 'datsun 810',
       'bmw 320i', 'mazda rx-4', 'volkswagen rabbit custom diesel',
       'ford fiesta', 'mazda glc deluxe', 'datsun b210 gx',
       'oldsmobile cutlass salon brougham', 'dodge diplomat',
       'mercury monarch ghia', 'pontiac phoenix lj',
       'ford fairmont (auto)', 'ford fairmont (man)', 'plymouth volare',
       'amc concord', 'buick century special', 'mercury zephyr',
       'dodge aspen', 'amc concord d/l',
       'buick regal sport coupe (turbo)', 'ford futura',
       'dodge magnum xe', 'datsun 510', 'dodge omni',
       'toyota celica gt liftback', 'plymouth sapporo',
       'oldsmobile starfire sx', 'datsun 200-sx', 'audi 5000',
       'volvo 264gl', 'saab 99gle', 'peugeot 604sl',
       'volkswagen scirocco', 'honda accord lx', 'pontiac lemans v6',
       'mercury zephyr 6', 'ford fairmont 4', 'amc concord dl 6',
       'dodge aspen 6', 'ford ltd landau', 'mercury grand marquis',
       'dodge st. regis', 'chevrolet malibu classic (sw)',
       'chrysler lebaron town @ country (sw)', 'vw rabbit custom',
       'maxda glc deluxe', 'dodge colt hatchback custom', 'amc spirit dl',
       'mercedes benz 300d', 'cadillac eldorado', 'plymouth horizon',
       'plymouth horizon tc3', 'datsun 210', 'fiat strada custom',
       'buick skylark limited', 'chevrolet citation',
       'oldsmobile omega brougham', 'pontiac phoenix',
       'toyota corolla tercel', 'datsun 310', 'ford fairmont',
       'audi 4000', 'toyota corona liftback', 'mazda 626',
       'datsun 510 hatchback', 'mazda glc', 'vw rabbit c (diesel)',
       'vw dasher (diesel)', 'audi 5000s (diesel)', 'mercedes-benz 240d',
       'honda civic 1500 gl', 'vokswagen rabbit', 'datsun 280-zx',
       'mazda rx-7 gs', 'triumph tr7 coupe', 'honda accord',
       'plymouth reliant', 'dodge aries wagon (sw)', 'toyota starlet',
       'plymouth champ', 'honda civic 1300', 'datsun 210 mpg',
       'toyota tercel', 'mazda glc 4', 'plymouth horizon 4',
       'ford escort 4w', 'ford escort 2h', 'volkswagen jetta',
       'honda prelude', 'datsun 200sx', 'peugeot 505s turbo diesel',
       'volvo diesel', 'toyota cressida', 'datsun 810 maxima',
       'oldsmobile cutlass ls', 'ford granada gl',
       'chrysler lebaron salon', 'chevrolet cavalier',
       'chevrolet cavalier wagon', 'chevrolet cavalier 2-door',
       'pontiac j2000 se hatchback', 'dodge aries se',
       'ford fairmont futura', 'volkswagen rabbit l',
       'mazda glc custom l', 'mazda glc custom', 'plymouth horizon miser',
       'mercury lynx l', 'nissan stanza xe', 'honda civic (auto)',
       'datsun 310 gx', 'buick century limited',
       'oldsmobile cutlass ciera (diesel)', 'chrysler lebaron medallion',
       'ford granada l', 'toyota celica gt', 'dodge charger 2.2',
       'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevy s-10'], dtype=object)

In [70]:
chev_names = [i for i in df['name'] if i.startswith('chevr')]
print(len(chev_names))
print(chev_names)

44
['chevrolet chevelle malibu', 'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300', 'chevrolet chevelle malibu', 'chevrolet impala', 'chevrolet vega (sw)', 'chevrolet vega', 'chevrolet impala', 'chevrolet chevelle concours (sw)', 'chevrolet malibu', 'chevrolet caprice classic', 'chevrolet nova custom', 'chevrolet impala', 'chevrolet vega', 'chevrolet monte carlo s', 'chevrolet nova', 'chevrolet vega', 'chevrolet chevelle malibu classic', 'chevrolet nova', 'chevrolet bel air', 'chevroelt chevelle malibu', 'chevrolet monza 2+2', 'chevrolet chevelle malibu classic', 'chevrolet nova', 'chevrolet chevette', 'chevrolet woody', 'chevrolet caprice classic', 'chevrolet concours', 'chevrolet monte carlo landau', 'chevrolet chevette', 'chevrolet malibu', 'chevrolet monte carlo landau', 'chevrolet chevette', 'chevrolet caprice classic', 'chevrolet malibu classic (sw)', 'chevrolet citation', 'chevrolet chevette', 'chevrolet citation', 'chevrolet citation', 'chevrolet cavalier', 'chevrolet cavalier wagon', 'chevrolet cavalier 2-door', 'chevrolet camaro']

In [110]:
toyota_names = [i for i in df['name'] if i.startswith('toyot') or 
                i.startswith('toyouta')]
print(len(toyota_names))
print(toyota_names)

26
['toyota corona mark ii', 'toyota corona', 'toyota corolla 1200', 'toyota corona hardtop', 'toyouta corona mark ii (sw)', 'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii', 'toyota corolla 1200', 'toyota corona', 'toyota corolla', 'toyota corona', 'toyota corolla', 'toyota mark ii', 'toyota corolla liftback', 'toyota corona', 'toyota celica gt liftback', 'toyota corolla tercel', 'toyota corona liftback', 'toyota corolla', 'toyota starlet', 'toyota tercel', 'toyota corolla', 'toyota cressida', 'toyota corolla', 'toyota celica gt']

In [72]:
ford_names = [i for i in df['name'] if i.startswith('ford')]
print(len(ford_names))
print(ford_names)

48
['ford torino', 'ford galaxie 500', 'ford maverick', 'ford f250', 'ford torino 500', 'ford galaxie 500', 'ford country squire (sw)', 'ford mustang', 'ford pinto runabout', 'ford galaxie 500', 'ford gran torino (sw)', 'ford pinto (sw)', 'ford gran torino', 'ford ltd', 'ford maverick', 'ford country', 'ford pinto', 'ford pinto', 'ford gran torino', 'ford gran torino (sw)', 'ford maverick', 'ford ltd', 'ford mustang ii', 'ford pinto', 'ford pinto', 'ford gran torino', 'ford maverick', 'ford granada ghia', 'ford pinto', 'ford f108', 'ford granada', 'ford thunderbird', 'ford mustang ii 2+2', 'ford fiesta', 'ford fairmont (auto)', 'ford fairmont (man)', 'ford futura', 'ford fairmont 4', 'ford ltd landau', 'ford country squire (sw)', 'ford fairmont', 'ford escort 4w', 'ford escort 2h', 'ford granada gl', 'ford fairmont futura', 'ford granada l', 'ford mustang gl', 'ford ranger']

In [73]:
amc_names = [i for i in df['name'] if i.startswith('amc')]
print(len(amc_names))
print(amc_names)

27
['amc rebel sst', 'amc ambassador dpl', 'amc hornet', 'amc gremlin', 'amc gremlin', 'amc matador', 'amc hornet sportabout (sw)', 'amc ambassador sst', 'amc matador (sw)', 'amc matador', 'amc ambassador brougham', 'amc hornet', 'amc gremlin', 'amc hornet', 'amc matador', 'amc matador (sw)', 'amc matador', 'amc gremlin', 'amc pacer', 'amc matador', 'amc hornet', 'amc pacer d/l', 'amc concord', 'amc concord d/l', 'amc concord dl 6', 'amc spirit dl', 'amc concord']

In [74]:
datsun_names = [i for i in df['name'] if i.startswith('datsun')]
print(len(datsun_names))
print(datsun_names)

23
['datsun pl510', 'datsun pl510', 'datsun 1200', 'datsun 510 (sw)', 'datsun 610', 'datsun b210', 'datsun 710', 'datsun 710', 'datsun b-210', 'datsun f-10 hatchback', 'datsun 810', 'datsun b210 gx', 'datsun 510', 'datsun 200-sx', 'datsun 210', 'datsun 310', 'datsun 510 hatchback', 'datsun 210', 'datsun 280-zx', 'datsun 210 mpg', 'datsun 200sx', 'datsun 810 maxima', 'datsun 310 gx']

In [75]:
amc_names = [i for i in df['name'] if i.startswith('amc')]
print(len(amc_names))
print(amc_names)

27
['amc rebel sst', 'amc ambassador dpl', 'amc hornet', 'amc gremlin', 'amc gremlin', 'amc matador', 'amc hornet sportabout (sw)', 'amc ambassador sst', 'amc matador (sw)', 'amc matador', 'amc ambassador brougham', 'amc hornet', 'amc gremlin', 'amc hornet', 'amc matador', 'amc matador (sw)', 'amc matador', 'amc gremlin', 'amc pacer', 'amc matador', 'amc hornet', 'amc pacer d/l', 'amc concord', 'amc concord d/l', 'amc concord dl 6', 'amc spirit dl', 'amc concord']

In [76]:
honda_names = [i for i in df['name'] if i.startswith('honda')]
print(len(honda_names))
print(honda_names)

13
['honda civic', 'honda civic cvcc', 'honda civic', 'honda accord cvcc', 'honda civic cvcc', 'honda accord lx', 'honda civic 1500 gl', 'honda accord', 'honda civic 1300', 'honda prelude', 'honda accord', 'honda civic', 'honda civic (auto)']

In [77]:
dodge_names = [i for i in df['name'] if i.startswith('dodge')]
print(len(dodge_names))
print(dodge_names)

28
['dodge challenger se', 'dodge d200', 'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)', 'dodge coronet custom', 'dodge dart custom', 'dodge coronet custom (sw)', 'dodge colt', 'dodge colt', 'dodge coronet brougham', 'dodge aspen se', 'dodge d100', 'dodge monaco brougham', 'dodge colt m/m', 'dodge diplomat', 'dodge aspen', 'dodge magnum xe', 'dodge omni', 'dodge aspen 6', 'dodge st. regis', 'dodge colt hatchback custom', 'dodge aspen', 'dodge colt', 'dodge aries wagon (sw)', 'dodge aries se', 'dodge charger 2.2', 'dodge rampage']

In [78]:
# volkswagen
vol_names = [i for i in df['name'] if i.startswith('volkswagen') or 
            i.startswith('vw') or i.startswith('voks')]
print(len(vol_names))
print(vol_names)

22
['volkswagen 1131 deluxe sedan', 'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)', 'volkswagen super beetle', 'volkswagen dasher', 'volkswagen dasher', 'volkswagen rabbit', 'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom', 'volkswagen dasher', 'volkswagen rabbit custom diesel', 'volkswagen scirocco', 'vw rabbit custom', 'vw rabbit', 'vw rabbit c (diesel)', 'vw dasher (diesel)', 'vokswagen rabbit', 'volkswagen jetta', 'volkswagen rabbit l', 'vw pickup']

In [79]:
# maxda, pontiac, plymouth
maxda_names = [i for i in df['name'] if i.startswith('maxda') or 
               i.startswith('Maxda') or i.startswith('mazda')]
print(len(maxda_names))
print(maxda_names)

12
['mazda rx2 coupe', 'maxda rx3', 'mazda rx-4', 'mazda glc deluxe', 'maxda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs', 'mazda glc 4', 'mazda 626', 'mazda glc custom l', 'mazda glc custom']

In [80]:
mer_names = [i for i in df['name'] if i.startswith('mercu')]
print(len(mer_names))
print(mer_names)

11
['mercury capri 2000', 'mercury marquis', 'mercury marquis brougham', 'mercury capri v6', 'mercury monarch', 'mercury cougar brougham', 'mercury monarch ghia', 'mercury zephyr', 'mercury zephyr 6', 'mercury grand marquis', 'mercury lynx l']

In [102]:
merz_names = [i for i in df['name'] if i.startswith('mercedes')]
print(len(merz_names))
print(merz_names)

3
['mercedes-benz 280s', 'mercedes benz 300d', 'mercedes-benz 240d']

In [83]:
buick_names = [i for i in df['name'] if i.startswith('buick')]
print(len(buick_names))
print(buick_names)

17
['buick skylark 320', 'buick estate wagon (sw)', 'buick lesabre custom', 'buick century 350', 'buick electra 225 custom', 'buick century luxus (sw)', 'buick century', 'buick skyhawk', 'buick opel isuzu deluxe', 'buick skylark', 'buick century special', 'buick regal sport coupe (turbo)', 'buick estate wagon (sw)', 'buick skylark limited', 'buick skylark', 'buick century', 'buick century limited']

In [84]:
pontiac_names = [i for i in df['name'] if i.startswith('pontiac')]
print(len(pontiac_names))
print(pontiac_names)

16
['pontiac catalina', 'pontiac catalina brougham', 'pontiac safari (sw)', 'pontiac firebird', 'pontiac catalina', 'pontiac grand prix', 'pontiac catalina', 'pontiac astro', 'pontiac ventura sj', 'pontiac grand prix lj', 'pontiac sunbird coupe', 'pontiac phoenix lj', 'pontiac lemans v6', 'pontiac phoenix', 'pontiac j2000 se hatchback', 'pontiac phoenix']

In [85]:
ply_names = [i for i in df['name'] if i.startswith('plymouth')]
print(len(ply_names))
print(ply_names)

31
['plymouth satellite', 'plymouth fury iii', "plymouth 'cuda 340", 'plymouth duster', 'plymouth satellite custom', 'plymouth fury iii', 'plymouth cricket', 'plymouth fury iii', 'plymouth satellite custom (sw)', 'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster', 'plymouth custom suburb', 'plymouth duster', 'plymouth satellite sebring', 'plymouth valiant custom', 'plymouth grand fury', 'plymouth fury', 'plymouth valiant', 'plymouth volare premier v8', 'plymouth arrow gs', 'plymouth volare custom', 'plymouth volare', 'plymouth sapporo', 'plymouth horizon', 'plymouth horizon tc3', 'plymouth reliant', 'plymouth reliant', 'plymouth champ', 'plymouth horizon 4', 'plymouth horizon miser']

In [86]:
cadillac_names = [i for i in df['name'] if i.startswith('cadillac')]
print(len(cadillac_names))
print(cadillac_names)

2
['cadillac seville', 'cadillac eldorado']

In [105]:
opel_names = [i for i in df['name'] if i.startswith('opel')]
print(len(opel_names))
print(opel_names)

4
['opel 1900', 'opel manta', 'opel manta', 'opel 1900']

In [106]:
subaru_names = [i for i in df['name'] if i.startswith('subaru')]
print(len(subaru_names))
print(subaru_names)

4
['subaru', 'subaru dl', 'subaru dl', 'subaru']

In [90]:
old_names = [i for i in df['name'] if i.startswith('oldsmobile')]
print(len(old_names))
print(old_names)

10
['oldsmobile delta 88 royale', 'oldsmobile vista cruiser', 'oldsmobile omega', 'oldsmobile cutlass supreme', 'oldsmobile cutlass salon brougham', 'oldsmobile starfire sx', 'oldsmobile cutlass salon brougham', 'oldsmobile omega brougham', 'oldsmobile cutlass ls', 'oldsmobile cutlass ciera (diesel)']

In [91]:
audi_names = [i for i in df['name'] if i.startswith('audi')]
print(len(audi_names))
print(audi_names)

7
['audi 100 ls', 'audi 100ls', 'audi fox', 'audi 100ls', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)']

In [108]:
ren_names = [i for i in df['name'] if i.startswith('ren')]
print(len(ren_names))
print(ren_names)

3
['renault 12 (sw)', 'renault 12tl', 'renault 5 gtl']

In [111]:
bmw_names = [i for i in df['name'] if i.startswith('bmw')]
print(len(bmw_names))
print(bmw_names)

2
['bmw 2002', 'bmw 320i']

In [92]:
chevy_names = [i for i in df['name'] if i.startswith('chevy')]
print(len(chevy_names))
print(chevy_names)
saab_names = [i for i in df['name'] if i.startswith('saab')]
print(len(saab_names))
print(saab_names)
fiat_names = [i for i in df['name'] if i.startswith('fiat')]
print(len(fiat_names))
print(fiat_names)
peugeot_names = [i for i in df['name'] if i.startswith('peugeot')]
print(len(peugeot_names))
print(peugeot_names)
chrysler_names = [i for i in df['name'] if i.startswith('chrysler')]
print(len(chrysler_names))
print(chrysler_names)
volvo_names = [i for i in df['name'] if i.startswith('volvo')]
print(len(volvo_names))
print(volvo_names)

3
['chevy c20', 'chevy c10', 'chevy s-10']
4
['saab 99e', 'saab 99le', 'saab 99le', 'saab 99gle']
8
['fiat 124b', 'fiat 124 sport coupe', 'fiat 128', 'fiat 128', 'fiat 124 tc', 'fiat x1.9', 'fiat 131', 'fiat strada custom']
8
['peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 504', 'peugeot 504', 'peugeot 604sl', 'peugeot 504', 'peugeot 505s turbo diesel']
6
['chrysler newport royal', 'chrysler new yorker brougham', 'chrysler cordoba', 'chrysler lebaron town @ country (sw)', 'chrysler lebaron salon', 'chrysler lebaron medallion']
6
['volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245', 'volvo 264gl', 'volvo diesel']

In [112]:
df['Brand'] = df['name']
# df.head()

In [113]:
df['Brand'] = df['Brand'].replace(chev_names,'Chev')
df['Brand'] = df['Brand'].replace(ford_names,'Ford')
df['Brand'] = df['Brand'].replace(datsun_names,'Datsun')
df['Brand'] = df['Brand'].replace(honda_names,'Honda')
df['Brand'] = df['Brand'].replace(ply_names,'Ply')
df['Brand'] = df['Brand'].replace(toyota_names,'Toyota')
df['Brand'] = df['Brand'].replace(amc_names,'AMC')
df['Brand'] = df['Brand'].replace(vol_names,'VW')
df['Brand'] = df['Brand'].replace(pontiac_names,'Pontaic')
df['Brand'] = df['Brand'].replace(buick_names,'Buick')
df['Brand'] = df['Brand'].replace(maxda_names,'Maxda')
df['Brand'] = df['Brand'].replace(dodge_names ,'Dodge')
df['Brand'] = df['Brand'].replace(mer_names,'Mercury')
df['Brand'] = df['Brand'].replace(merz_names , 'Merz')
df['Brand'] = df['Brand'].replace(audi_names,'Audi')
df['Brand'] = df['Brand'].replace(saab_names , 'Saab')
df['Brand'] = df['Brand'].replace(volvo_names,'Volvo')
df['Brand'] = df['Brand'].replace(chrysler_names , 'Chrys')
df['Brand'] = df['Brand'].replace(peugeot_names,'Peugeot')
df['Brand'] = df['Brand'].replace(fiat_names, 'Fiat')
df['Brand'] = df['Brand'].replace(old_names,'Oldnames')
df['Brand'] = df['Brand'].replace(chevy_names, 'chevy')
df['Brand'] = df['Brand'].replace(opel_names, 'Fiat')
df['Brand'] = df['Brand'].replace(subaru_names,'Subaru')
df['Brand'] = df['Brand'].replace(ren_names,'Renault')
df['Brand'] = df['Brand'].replace(cadillac_names, 'cadillac')
df['Brand'] = df['Brand'].replace(bmw_names, 'bmw')
df['Brand'].value_counts()

Ford                 48
Chev                 44
Ply                  31
Dodge                28
AMC                  27
Toyota               26
Datsun               23
VW                   22
Buick                17
Pontaic              16
Honda                13
Maxda                12
Fiat                 12
Mercury              11
Oldnames             10
Peugeot               8
Audi                  7
Chrys                 6
Volvo                 6
Subaru                4
Saab                  4
Renault               3
Merz                  3
chevy                 3
cadillac              2
bmw                   2
triumph tr7 coupe     1
hi 1200d              1
capri ii              1
nissan stanza xe      1
Name: Brand, dtype: int64

In [114]:
df['Brand'].unique()

array(['Chev', 'Buick', 'Ply', 'AMC', 'Ford', 'Pontaic', 'Dodge',
       'Toyota', 'Datsun', 'VW', 'Peugeot', 'Audi', 'Saab', 'bmw',
       'chevy', 'hi 1200d', 'Mercury', 'Fiat', 'Oldnames', 'Chrys',
       'Maxda', 'Volvo', 'Renault', 'Honda', 'Subaru', 'capri ii', 'Merz',
       'cadillac', 'triumph tr7 coupe', 'nissan stanza xe'], dtype=object)